* {
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 25vw;
    height: 75vh;
    background-color: lightgreen;
    font-size: 4vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headTable {
    height: 14%;
    display: flex;
    justify-content: space-around;
    padding-top: 1vh;
}

.tableGame {
    display: flex;
    justify-content: space-around;
    flex-grow: 3;
}
.tableGame {
    height: 80%;
    overflow: scroll;
    scrollbar-width: none;
}

::-moz-scrollbar
{
width: 0px;
height: 0px;
}

.tableGame table {
    width: 98%;
}

.tableGame table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding-left: 2vw;
}

.inputBlock {
    margin-bottom: 0.7vh;
    display: flex;
    justify-content: space-around;
    
}

.inputBlock input {
    height: 4vh;
    width: 80%;
}
.inputBlock #btn {
    width: 15%;
    background: none;
    border-radius: 10px;
}